<p id="notice"><%= notice %></p>

<div class="span3">
  <div class="well">
    <p>
      <b>Tip:</b> Prikaz i uređivanje elemenata story-a.</p>
  </div>
</div>

<div class="span9">
  <div class="row-fluid">
    <div class="hero-unit">
      <h1><%= @story.title %></h1>
      <p><%= @story.description %></p>
      
      <div class="container">
        <p>
          <%= link_to "Uredi priču...", edit_story_path, class: "btn btn-primary" %>
        </p>
      </div>
      <% @story.story_images.each do |story_image| %>
        <div class="media">
          <%= link_to image_tag(story_image.image.url, size: "100x100"), story_image.image.url %>
          <div class="media-body">
            <%= link_to "Izbriši", { controller: "story_images" , action: "destroy", id: story_image.id },
              { method: :delete, data: { confirm: 'Jeste li sigurni?' }, class: "btn btn-danger" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
